{
  "extends": "eslint-config-airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "jsx-quotes": [2, "prefer-single"],
    "id-length": [2, { "exceptions": ["e", "i", "j", "l"] }],
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "react/no-multi-comp": 0,
    "react/sort-comp": [2, {
      order: [
        'lifecycle',
        '/^on.+$/',
        'everything-else',
        'render'
      ]
    }],
    // Disabled due to a possible bug in eslint-plugin-react
    "react/prop-types": 0,
    "no-use-before-define": 0,
    "comma-dangle": 0,
    // Temporarirly disabled due to a possible bug in babel-eslint (todomvc example)
    "block-scoped-var": 0,
    // Temporarily disabled for test/* until babel/babel-eslint#33 is resolved
    "padded-blocks": 0,
    "no-console": 0
  },
  "plugins": [
    "react"
  ],
  "globals": {
    "__DEVELOPMENT__": true,
    "__CLIENT__": true,
    "__SERVER__": true,
    "__DISABLE_SSR__": true,
    "__DEVTOOLS__": true
  }
}
